version: "3"
services:
	consul1:
	  image: "duruo850/cosule:1.3.0_alpine3.8"
	  container_name: "consul1"
	  hostname: "consul1"
	  ports:
		- "8400:8400"
		- "8500:8500"
		- "53:53"
	  command: "agent -data-dir /data -server -bootstrap-expect 3 -ui-dir /ui -client=0.0.0.0"

	consul2:
	  image: "duruo850/cosule:1.3.0_alpine3.8"
	  container_name: "consul2"
	  hostname: "consul2"
	  ports:
		- "8400"
		- "8500"
		- "8600"
	  links:
		- "consul1:consul1"
	  command: "agent -server -join consul1"

	consul3:
	  image: "duruo850/cosule:1.3.0_alpine3.8"
	  container_name: "consul3"
	  hostname: "consul3"
	  ports:
		- "8400"
		- "8500"
		- "8600"
	  links:
		- "consul1:consul1"
	  command: "agent -server -join consul1"